<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<br/><br/>
<h5 style="text-align: left;margin-left: 5%;"><b>2.3K Photos</b> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;1.8K Collections &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;163 Users</h5>

<div class="row">
  <div class="column">
    <img  width="420" alt="Angular Logo" src="assets/img/thought-catalog-575829-unsplash.jpg">
    <h5 style="text-align: left;margin-left: 10px;">Books&nbsp;&nbsp;&nbsp;Hand&nbsp;&nbsp;&nbsp;Stack</h5>
  </div>
  <div class="column">
    <img  width="420" alt="Angular Logo" src="assets/img/fabiola-penalba-620734-unsplash.jpg">
    <h5 style="text-align: left;margin-left: 10px;">Book&nbsp;&nbsp;&nbsp;Knee&nbsp;&nbsp;&nbsp;Legs</h5>
  </div>
  <div class="column">
    <img  width="420" alt="Angular Logo" src="assets/img/thought-catalog-575840-unsplash.jpg">
    <h5 style="text-align: left;margin-left: 10px;">Tea&nbsp;&nbsp;&nbsp;Read&nbsp;&nbsp;&nbsp;Book</h5>
  </div>
</div>

<br/><br/><br/><br/><br/>

<div class="row">
  <div class="column">
    <img  width="420" alt="Angular Logo" src="assets/img/ben-white-197668-unsplash.jpg">  
    <h5>A little Boy holding a book with surprized expression on his face</h5>
  </div>

  <div class="column">
    <img  width="420" alt="Angular Logo" src="assets/img/alexis-brown-82988-unsplash.png">
    <h5>The People reaching and talking notes at an ols wodden talbe outdoor</h5>
  </div>
  <div class="column">
    <img  width="420" alt="Angular Logo" src="assets/img/iam-se7en-657490-unsplash.jpg">
    <h5 style="text-align: left;margin-left: 10px;">Women&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;Hat</h5>
  </div>
</div>
</div>

<div id="myModal" class="modal">
 
  <!-- Modal content -->
  <div class="modal-content">
      <div class="modal-header">
          <span class="close">&times;</span>
              <h2 class="gamehead">PlugIn</h2>
      </div>
  </div>
</div>

